@using CookingRecipesSystem.Startup.Models.User
@attribute [Route(PageRoutes.Login)]

@inject NavigationManager Navigation
@inject IAuthService AuthService

<h1 class="h2 font-weight-normal login-title">
  Login
</h1>
<br />

<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="LoginRequest">
  <DataAnnotationsValidator />

  <ValidationMessage For="@(() => LoginRequest.Email)" />
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label for="inputEmail" class="input-group-text">@AppConstants.EmailDisplay</label>
    </div>
    <InputText id="inputEmail" class="form-control" placeholder="@AppConstants.EmailDisplay" autofocus @bind-Value="@LoginRequest.Email" />
  </div>

  <ValidationMessage For="@(() => LoginRequest.Password)" />
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label for="inputPassword" class="input-group-text">@AppConstants.PasswordDisplay</label>
    </div>
    <InputText type="password" id="inputPassword" class="form-control" placeholder="@AppConstants.PasswordDisplay" @bind-Value="LoginRequest.Password" />
  </div>

  <div>
    @foreach (var error in Errors)
    {
      <label class="text-danger">@error</label>
    }
  </div>
  <div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </div>
</EditForm>

@code {
  [Parameter]
  [SupplyParameterFromQuery]
  public string? ReturnUrl { get; set; }

  [Parameter]
  [SupplyParameterFromQuery]
  public string? Error { get; set; }

  UserLoginModel LoginRequest { get; set; } = new UserLoginModel();

  IEnumerable<string> Errors { get; set; } = new List<string>();

  async Task OnSubmit()
  {
    var result = await AuthService.Login(LoginRequest);
    var escapedUri = string.Empty;

    if (result.Succeeded)
    {    
      ReturnUrl ??= string.Empty;
      escapedUri = Uri.EscapeDataString(ReturnUrl);
      Navigation.NavigateTo(Uri.UnescapeDataString(escapedUri), forceLoad: true, replace: true);
    }
    else
    {
      var queryChar = ReturnUrl != null ? "&" : "?";
      escapedUri = Uri.EscapeDataString(Navigation.Uri) 
      + queryChar + nameof(Error) + "=" + result.Errors.FirstOrDefault();

      Navigation.NavigateTo(Uri.UnescapeDataString(escapedUri), forceLoad: true, replace: true);
    }
  }

  protected override void OnInitialized()
  {
    Error ??= string.Empty;
    Errors = new string[] { Error };
  }
}