@using CookingRecipesSystem.Startup.Models.User
@attribute [Route(PageRoutes.Register)]

@inject NavigationManager Navigation
@inject IAuthService AuthService

<h1 class="h2 font-weight-normal login-title">
  Register
</h1>
<br />

<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="RegisterRequest">
  <DataAnnotationsValidator />

  <ValidationMessage For="@(() => RegisterRequest.UserName)" />
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label for="inputUsername" class="input-group-text">@AppConstants.UserNameDisplay</label>
    </div>
    <InputText id="inputUsername" class="form-control" placeholder="@AppConstants.UserNameDisplay" autofocus @bind-Value="@RegisterRequest.UserName" />
  </div>
  
  <ValidationMessage For="@(() => RegisterRequest.Email)" />
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label for="inputEmail" class="input-group-text">@AppConstants.EmailDisplay</label>
    </div>
    <InputText id="inputEmail" class="form-control" placeholder="@AppConstants.EmailDisplay" @bind-Value="@RegisterRequest.Email" />
  </div>

  <ValidationMessage For="@(() => RegisterRequest.Password)" />
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label for="inputPassword" class="input-group-text">@AppConstants.PasswordDisplay</label>
    </div>
    <InputText type="password" id="inputPassword" class="form-control" placeholder="@AppConstants.PasswordDisplay" @bind-Value="@RegisterRequest.Password" />
  </div>
 
  <ValidationMessage For="@(() => RegisterRequest.PasswordConfirm)" />
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label for="inputPasswordConfirm" class="input-group-text">@AppConstants.PasswordConfirmDisplay</label>
    </div>
    <InputText type="password" id="inputPasswordConfirm" class="form-control" placeholder="@AppConstants.PasswordConfirmDisplay" @bind-Value="@RegisterRequest.PasswordConfirm" />
  </div>  

  <div class="input-group mb-3">
    @foreach (var error in Errors)
    {
      <label class="text-danger">@error</label>
    }
  </div>
  <div class="input-group mb-3">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>
  </div>
</EditForm>

@code {
  [Parameter]
  [SupplyParameterFromQuery]
  public string? Error { get; set; }

  UserRegisterModel RegisterRequest { get; set; } = new UserRegisterModel();

  IEnumerable<string> Errors { get; set; } = new List<string>();

  async Task OnSubmit()
  {
    var result = await AuthService.Register(RegisterRequest);

    if (result.Succeeded)
    {
      Navigation.NavigateTo(@PageRoutes.Login, forceLoad: true, replace: true);
    }
    else
    {      
      var escapedUri = Uri.EscapeDataString(Navigation.Uri) 
      + "?" + nameof(Error) + "=" + result.Errors.FirstOrDefault();

      Navigation.NavigateTo(Uri.UnescapeDataString(escapedUri), forceLoad: true, replace: true);
    }
  }

  protected override void OnInitialized()
  {
    Error ??= string.Empty;
    Errors = new string[] { Error };
  }
}