@page "/authentication/register"

@inject NavigationManager Navigation
@inject IAuthService AuthService

<h1 class="h2 font-weight-normal login-title">
  Register
</h1>

<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="registerRequest">
  <DataAnnotationsValidator />

  <label for="inputUsername" class="sr-only">@AppConstants.UserNameDisplay</label>
  <InputText id="inputUsername" class="form-control" placeholder="@AppConstants.UserNameDisplay" autofocus @bind-Value="@registerRequest.UserName" />
  <ValidationMessage For="@(() => registerRequest.UserName)" />

  <label for="inputEmail" class="sr-only">@nameof(registerRequest.Email)</label>
  <InputText id="inputEmail" class="form-control" placeholder="@nameof(registerRequest.Email)" @bind-Value="@registerRequest.Email" />
  <ValidationMessage For="@(() => registerRequest.Email)" />

  <label for="inputPassword" class="sr-only">@nameof(registerRequest.Password)</label>
  <InputText type="password" id="inputPassword" class="form-control" placeholder="@nameof(registerRequest.Password)" @bind-Value="@registerRequest.Password" />
  <ValidationMessage For="@(() => registerRequest.Password)" />

  <label for="inputPasswordConfirm" class="sr-only">@AppConstants.PasswordConfirmDisplay</label>
  <InputText type="password" id="inputPasswordConfirm" class="form-control" placeholder="@AppConstants.PasswordConfirmDisplay" @bind-Value="@registerRequest.PasswordConfirm" />
  <ValidationMessage For="@(() => registerRequest.PasswordConfirm)" />

  <div>
    @foreach (var error in Errors)
    {
      <label class="text-danger">@error</label>
    }
  </div>
  <div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>
  </div>
</EditForm>

@code {

  UserRegisterModel registerRequest { get; set; } = new UserRegisterModel();

  IEnumerable<string> Errors { get; set; } = new List<string>();

  async Task OnSubmit()
  {
    var result = await AuthService.Register(registerRequest);

    if (result.Succeeded)
    {
      Navigation.NavigateTo("/authentication/login", forceLoad: true, replace: true);
    }
    else
    {
      //TODO: Show the Errors !
      Errors = result.Errors;
      Navigation.NavigateTo(Navigation.Uri, forceLoad: true, replace: true);
    }
  }
}