<nav class="p-2 navbar navbar-expand-md navbar-dark bg-dark d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
  <div class="container p-1 justify-content-md-center">
    <a href="/" class="navbar-brand d-flex align-items-center mb-2 mb-lg-0">
      @Brand
    </a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@collapseNav navbar-collapse justify-content-center" >
      <ul class="nav col-12 col-md-auto me-md-auto mb-1 mb-md-0 d-flex flex-md-row flex-column" >
        <li class="m-1">
          <NavLink class="btn btn-outline-light " href="" Match="NavLinkMatch.All">
            Home
          </NavLink>
        </li>
        <li class="m-1">
          <NavLink class="btn btn-outline-light" href=@PageRoutes.GetAllUsers>
            Users
          </NavLink>
        </li>
        <li class="m-1" @onmouseover="ToggleIngredientsAriaExpand" @onmouseout="ToggleIngredientsAriaExpand">
          <div class="dropdown @showIngredientsAria">
            <NavLink class="btn btn-outline-light dropdown-toggle" type="button"
                     @onclick="ToggleIngredientsAriaExpand"
                     id="dropdownMenuIngredients" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="@isIngredientsAriaExpanded">
              Ingredients
            </NavLink>
            <div class="dropdown-menu @showIngredientsAria" aria-labelledby="dropdownMenuIngredients">
              <NavLink class="btn btn-outline-light dropdown-item" href=@PageRoutes.IngredientCreate>
                Ingredient Create
              </NavLink>
              <NavLink class="btn btn-outline-light dropdown-item" href=@PageRoutes.IngredientAll>
                Ingredients Show
              </NavLink>             
            </div>
          </div>
        </li>
        <li class="m-1" @onmouseover="ToggleRecipesAriaExpand" @onmouseout="ToggleRecipesAriaExpand">
          <div class="dropdown @showRecipesAria">
            <NavLink class="btn btn-outline-light dropdown-toggle" type="button"
                     @onclick="ToggleRecipesAriaExpand"
                     id="dropdownMenuRecipes" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="@isRecipesAriaExpanded">
              Recipes
            </NavLink>
            <div class="dropdown-menu @showRecipesAria" aria-labelledby="dropdownMenuRecipes">
              <NavLink class="btn btn-outline-light dropdown-item" href=#>
                Recipe Create
              </NavLink>
              <NavLink class="btn btn-outline-light dropdown-item" href=# >
                Recipes Show
              </NavLink>             
            </div>
          </div>
        </li>        
      </ul>

      <div class="text-end">
        <LoginDisplay />
      </div>
    </div>
  </div>
</nav>

@code {
  private const string Brand = "CRS";
  private const string Collapse = "collapse";
  private const string CssShow = "show";

  private bool isCollapsedNavMenu = true;
  private bool isIngredientsAriaExpanded = false;
  private bool isRecipesAriaExpanded = false; 

  private string? showIngredientsAria => isIngredientsAriaExpanded ? CssShow : null;
  private string? showRecipesAria => isRecipesAriaExpanded ? CssShow : null;
  private string? collapseNav => isCollapsedNavMenu ? Collapse : null;

  private void ToggleNavMenu()
  {
    isCollapsedNavMenu = !isCollapsedNavMenu;
  }

  private void ToggleIngredientsAriaExpand(MouseEventArgs mouseEventArgs)
  {    
    if (mouseEventArgs.Type == "mouseout")
    {
      isIngredientsAriaExpanded = false;
    }
    else
    {
      isIngredientsAriaExpanded = !isIngredientsAriaExpanded;
    }
  }   

  private void ToggleRecipesAriaExpand(MouseEventArgs mouseEventArgs)
  {
    if (mouseEventArgs.Type == "mouseout")
    {
      isRecipesAriaExpanded = false;
    }
    else
    {
      isRecipesAriaExpanded = !isRecipesAriaExpanded;
    }    
  }  
}
